*/obj/*
*/bin/*
*.vs/
packages/
Projects/GameEngine/bin
Projects/GameEngine/obj
Projects/SmartMeshLibrary/bin
Projects/SmartMeshLibrary/obj
Projects/AbyssCrusaders/Assets/bin
Projects/AbyssCrusaders/Assets/obj
Projects/AbyssCrusaders/Build
Projects/SurvivalGame/Assets/bin
Projects/SurvivalGame/Assets/obj
Projects/SurvivalGame/Build
Projects/ImmersionFramework/bin
Projects/ImmersionFramework/obj
Projects/ImmersionFramework/Ignored
